[2021-02-19 21:09] jongarry opened #1 "Installation contains an additional 'models' directory"
Hi there,

While including this package in a project I noticed that an additional 'models' directory gets installed with yolov5. This causes pathing problems when using this package in a project that also contains a models directory:

![Screenshot from 2021-02-19 16-01-00](https://user-images.githubusercontent.com/23202083/108561384-2c79b280-72cc-11eb-8cce-b445a8d4da05.png)

$ pip uninstall yolov5

[2021-02-20 07:38] fcakyon commented on #1
It is necessary since ultralytics/yolov5 model loading requires models folder to be in path. If I remove models directory, it wouldnt be possible to load yolov5 weights. If you find a better workaround, I would gladly implement it.

[2021-02-20 21:29] #1 closed

[2021-03-02 10:17] robinderat opened #3 "Loading model behind a proxy"
I want to use yolov5 from behind a proxy limiting access to the internet. I made sure the model the model weights are available locally, however when running `yolov5 = YOLOv5("resources/models/v1.pt")` the program still tries to reach github.

The problem seems to be located in [attempt_download](https://github.com/fcakyon/yolov5-pip/blob/66a22df5f118a1607945f03393a35ba1bd8e4810/yolov5/utils/googl

[2021-03-02 14:27] fcakyon commented on #3
@robinderat good catch, will fix it today.

[2021-03-02 19:21] glenn-jocher commented on #3
@fcakyon @robinderat this was fixed in https://github.com/ultralytics/yolov5/pull/1894 in January, I would use the latest google_utils.py:
https://github.com/ultralytics/yolov5/blob/master/utils/google_utils.py

The fix was implemented by PR

[2021-03-02 19:26] glenn-jocher opened #4 "Maintenance Concerns"
@fcakyon is there a way to automate pip package maintenance so that the package stays up to date with ultralytics/yolov5 master without having to manually update code and push new versions? Maybe a weekly schedule would make sense.

This might prevent problems like https://github.com/fcakyon/yolov5-pip/issues/3. I don't have any recommendations myself since I'm not a pip expert, but I can see a pr

[2021-03-02 21:34] fcakyon commented on #4
@glenn-jocher your concerns are right.

Main branch of this yolov5-pip repo was the copy of release v4.0 of ultralytics/yolov5 repo. I was thinking on updating the pip package after your each new major release. But it turns out that even major releases are open for updates/new features.

Now i am working on a new version:
- it will support torch hub way by default, but torch hub way is not always

[2021-03-02 21:34] #3 closed

[2021-03-02 21:39] fcakyon commented on #3
@robinderat it is fixed in version 4.0.6

Just `pip install -U yolov5`

[2021-03-02 22:23] glenn-jocher commented on #4
@fcakyon that's a great idea to mirror the pytorch hub functionality, I was going to mention that as well. Then everyone gets the same UX whether they use hub yolov5 or pip yolov5.

I try to save major releases, i.e. next will be v5.0 for actual model updates, and minor release, i.e. v5.1 for other changes, but I also don't want to introduce frequent minor releases, as things are complicated alrea

[2021-03-23 02:48] timstokman commented on #3
@fcakyon Version 4.0.6 hasn't been published yet (https://pypi.org/project/yolov5/#history). Could you publish? I'm having this issue as well.

[2021-03-23 06:17] fcakyon commented on #3
@timstokman thanks for reminding. Now you can install over pip.

[2021-03-23 21:53] orphan2020 opened #7 "Google Colab error"
when trying to use the pip wrapper in colab I get the following error:

# init yolov5 model
yolov5 = YOLOv5(model_path,device)

=>

Downloading https://github.com/ultralytics/yolov5/releases/download/v4.0/yolov5s.pt to yolov5/weights/yolov5s.pt...
Download error: [Errno 2] No such file or directory: 'yolov5/weights/tmpr8j0fg5z'
----------------------------------------------------------------------

[2021-03-24 14:38] timstokman commented on #3
@fcakyon It looks like the issue still occurs in version 4.0.6. The version of google_utils that you have checked in doesn't seem to be up-to-date with the yolov5 version:

https://github.com/fcakyon/yolov5-pip/blob/main/yolov5/utils/google_utils.py vs https://github.com/ultralytics/yolov5/blob/master/utils/google_utils.py

It can be worked around, but the workaround is not particulary pleasant if

[2021-03-24 16:07] fcakyon commented on #7
thanks for reporting. should be fixed with [v4.0.7](https://pypi.org/project/yolov5/4.0.7/#history). try `pip install -U yolov5`

[2021-03-24 16:08] fcakyon commented on #3
@timstokman @orphan2020 thanks for reporting. should be fixed with [v4.0.7](https://pypi.org/project/yolov5/4.0.7/#history). try `pip install -U yolov5`

[2021-03-24 16:19] orphan2020 commented on #7
Unfortunately still throwing error:

Downloading https://github.com/ultralytics/yolov5/releases/download/v4.0/yolov5s.pt to yolov5/weights/yolov5s.pt...
Download error: [Errno 2] No such file or directory: 'yolov5/weights/tmpfqol0itk'
ERROR: Download failure: yolov5/weights/yolov5s.pt missing, try downloading from https://github.com/ultralytics/yolov5/releases/

-----------------------------------

[2021-03-24 16:27] fcakyon commented on #7
@orphan2020 Can you please tell me what you in detail? If you could provide minimal code sample to recreate the issue that would be great.

At the moment I cannot recreate the issue, it works fine for me.

[2021-03-24 16:41] orphan2020 commented on #7
In Google Colab:

1. Cell:
pip install -U yolov5  # run OK !

2. Cell:
from PIL import Image
from yolov5 import YOLOv5 # run OK !

3. Cell:
set model params
model_path = "yolov5/weights/yolov5s.pt" # it automatically downloads yolov5s model to given path
device = "cuda" # or "cpu"  # run OK

4. Cell:
# init yolov5 model
yolov5 = YOLOv5(model_path, device)

run = > ERROR:

Downloading https://githu

[2021-03-24 17:28] fcakyon commented on #7
You have to create yolov5/weights/ folder beforehand. In your ss there isnt any yolov5/weight/ folder.

[2021-03-24 17:33] fcakyon commented on #7
Added automatic folder directory creation at 4.0.9. `pip install -U yolov5` to fix the issue.

[2021-03-24 17:33] #7 closed

[2021-03-24 18:00] orphan2020 opened #8 "results saved where ?"
when running inference, where are the results stored ?

# perform inference
results = yolov5.predict(image1)

cell runs normaly but not result is saved in a folder or shown

[2021-03-24 19:38] fcakyon commented on #8
You have to run ```results.show()``` to show detections, and ```results.save()``` to save detections into folder.

[2021-03-24 19:38] #8 closed

[2021-03-26 01:01] alvinahmadov opened #9 "Code error in models/common.py"
Hello there is a bug in https://github.com/fcakyon/yolov5-pip/blob/1431fe44011c3791647840c8e93fd24215b2db3e/yolov5/models/common.py#L254
Where variable f is not initialized for local image file prediction.
Thank you.

[2021-03-26 02:58] fcakyon commented on #9
@alvinahmadov thanks for noticing, fixed this bug + increased test coverage to catch this type of bugs in ci.

[2021-03-26 03:09] #9 closed

[2021-03-30 21:25] FraPochetti opened #10 "models/*.yaml files not downloaded when installing from pip"
Hi,
thanks a lot for your work first of all!

So, when installing from `pip install yolov5`, I noticed that the `yolov5/models/*.yaml` files are not downloaded.
I think this is because you are missing `recursive-include yolov5/models *` from your `MANIFEST.ini`, e.g. you just include whatever is in the `data` directory ([here](https://github.com/fcakyon/yolov5-pip/blob/72c66908fcc6aa03d3dfc67c53cb

[2021-03-30 22:02] fcakyon commented on #10
You are right, will be fixed in the next release.

[2021-03-30 22:09] fcakyon commented on #10
Should be fixed with v4.0.12. Try `pip install -U yolov5`.

[2021-03-30 22:09] #10 closed

[2021-03-31 06:16] FraPochetti commented on #10
Thanks a lot!

[2021-04-02 10:09] bs-oke opened #11 "TypeError: 'OptFactory' object is not callable"
Hi,

I'm just trying to train a model and I get TypeError: 'OptFactory' object is not callable error.
Python 3.6
YOLOv5 4.0.12

My code:
[code]

Result:
[code]

When not using pretrained model and yolov5l.yaml config I get:
[code]

Am I doing something wrong?

[2021-04-02 10:29] fcakyon commented on #11
if you want to train a model using this repo, you should directly use the training script given in [scripts/train.py](scripts/train.py). Usage is the same with original repo: https://github.com/fcakyon/yolov5-pip#training

Can you please try that and report back if you see any issues?

[2021-04-02 13:10] bs-oke commented on #11
OK, thanks. It works. I'll use it to update my code.

[2021-04-02 13:10] #11 closed

[2021-04-13 14:56] robmarkcole commented on #4
The icevision guys created a script to keep their published fork up to date https://github.com/airctic/yolov5-pip-converter

[2021-04-13 16:16] robmarkcole commented on #4
@fcakyon it has a dependency on [icevision](https://pypi.org/project/icevision/), but what might be useful is the approach used

[2021-04-13 16:31] fcakyon commented on #4
Yes the approach is interesting, I might utilize it in this repo.

[2021-04-13 18:19] FraPochetti commented on #4
@fcakyon indeed, `yolov5-icevision` was built to tightly work with `icevision` so we just made sure the pieces we needed were working properly, not the entirety of the repo.

[2021-04-13 18:33] fcakyon commented on #4
@FraPochetti I totally understand that. I also love what your are doing in icevision, its a very useful project 👍

[2021-04-14 12:34] borijang opened #13 "pycocotools-fix error on Windows"
I can't install this via pip because of pycocotools-fix on Windows. It fails when trying to build wheel for it.
It would be great if this lib is optional, as I already have pycocotools installed on my environment.

[2021-04-14 15:03] fcakyon commented on #13
@borijang you are definitely right, i will push a proper fix today.

[2021-04-14 17:40] #13 closed

[2021-04-14 17:42] fcakyon commented on #13
@borijang it is fixed with `v4.0.13`.

please try `pip install -U yolov5`

[2021-04-23 21:29] StuffByAndrew opened #18 "YouTube Bug Fix"
It seems like the [Youtube Bug Fix](https://github.com/ultralytics/yolov5/pull/2818) from the main yolov5 repo has not been applied here as well causing some scripts to fail.

For example with:
 `$ yolo_detect --source 0`

[2021-04-23 23:38] fcakyon commented on #18
@StuffByAndrew will be pushed to pypi once the checks pass: https://github.com/fcakyon/yolov5-pip/pull/19

[2021-04-23 23:57] #18 closed

[2021-04-23 23:59] #4 closed

[2021-04-23 23:59] fcakyon commented on #18
try `pip install -U yolov5`

[2021-04-27 19:40] StuffByAndrew commented on #18
It works! Thanks!

[2021-05-21 23:36] wjassim opened #31 "Arguments of detect.py"
Hi.
Thank you for the package. I have installed yolov5-pip and it works perfectly. Is it possible to pass the argument options such --classes, --line-thickness etc. (given in detect.py) via yolov5.predict or model(img)?

[2021-05-22 07:47] fcakyon commented on #31
Hello @wjassim. `.predict` is the function for getting base predictions. It cannot have --line-thickness as input since it does not plot the predictions, it just returns a Detections object.

What you should do is to download [detect.py](https://github.com/fcakyon/yolov5-pip/blob/main/yolov5/detect.py) script. Right click in the `raw` button, then click on `save link as`.

You dont need to downloa

[2021-05-22 10:29] wjassim commented on #31
Thank you @fcakyon. I think I managed to access to the model setting using:

import torch
from yolov5 import YOLOv5

device = "cuda" # or "cpu"
# init yolov5 model
yolov5 = YOLOv5('weights/yolov5s6.pt', device)

then by using yolov5.model. I can change some parameters in the model (ex. yolov5.model.classes = [0,1,2]). Does it sound ok?

[2021-05-22 10:55] fcakyon commented on #31
@wjassim yes that is a valid usage, you can always change the model parameters after initializing as you have mentioned :+1:

[2021-05-22 23:20] fcakyon commented on #31
@wjassim you can also check the [yolov5-norfair integration for object tracking](https://github.com/fcakyon/norfair/tree/yolov5/demos/yolov5)

[2021-05-22 23:20] #31 closed

[2021-05-22 23:38] wjassim commented on #31
That's very impressive. Thank you very much @fcakyon. I'll try it out now.

[2021-05-23 11:21] wjassim commented on #31
Hi @fcakyon . yolov5-norfair integration for object tracking works perfectly.

Maybe the centroid of the bbox can be extracted from the model as a list directly?
line 40 in yolov5demo.py: detections_as_xywh = detections.pandas().xywh[0]
centroid = np.array([[detections_as_xywh [0],detections_as_xywh [1]]])

thanks a million..

[2021-05-23 11:47] fcakyon commented on #31
Hello @wjassim. Unfortunately that wouldnt work since 0 and 1 indexes are top left coordinates (not center): https://github.com/ultralytics/yolov5/blob/19100ba00709243976b1a31033be019816496cbd/utils/general.py#L319

[2021-05-23 12:02] wjassim commented on #31
oh sorry, I thought the function xyxy2xywh normally converts [x1, y1, x2, y2] to [xcenter, ycenter, w, h] where xy1=top-left, xy2=bottom-right. Thanks for the note.

[2021-05-23 14:33] fcakyon commented on #31
@wjassim my bad, you are definitely right. Updated the detection format conversion as you said :) https://github.com/fcakyon/norfair/tree/yolov5/demos/yolov5

[2021-06-04 07:32] Olalaye opened #32 "How can I get the result in string format"
How can I get the result in string format?

I installed the package and made predictions, but how do I get the results in string format?

Please give me some guidance.

[2021-06-04 08:39] Olalaye commented on #32
I got what I wanted from `results.pandas().xyxy`
[code]
It's a good idea to keep all the results in pd.dataframe.

But the project seems to lack information on how to use it.

[2021-06-04 08:39] #32 closed

[2021-06-04 10:08] fcakyon commented on #32
@Olalaye thanks for providing your solution. It will be added to main readme!

[2021-06-04 10:30] Olalaye commented on #32
@fcakyon Your README is well written, but is more suitable for running this project than for calling the yolov5 package, in my opinion.

[2021-07-02 23:42] ivanzvonkov opened #36 "check_requirements(...) prevents functionality"
The original repo has a check_requirements(...) [function](https://github.com/ultralytics/yolov5/blob/831773f5a23926658ee76459ce37550643432123/utils/general.py#L148) to check for a requirements.txt

All functions that call `check_requirements(...)`
https://github.com/ultralytics/yolov5/search?q=check_requirements
will fail in the pip package context.

For example:
[code]
Results in:
[code]

Has an

[2021-07-03 00:01] fcakyon commented on #36
@ivanzvonkov actually you shouldnt be using hubconf in this package. You can directly:
[code]

[2021-07-03 00:14] fcakyon commented on #36
@ivanzvonkov in lates version (v5.0.7) `check_requirements` flag is removed from all scripts.
`pip install -U yolov5` to install up-to-date version.

[2021-07-03 00:14] #36 closed

[2021-07-03 00:50] ivanzvonkov commented on #36
@fcakyon Thanks for the lightning quick update!

[2021-07-07 17:09] ryanfont80 opened #38 "Load multiple weights for ensemble"
Is there any ability to load multiple weights to create an ensemble like in the original Yolov5 repository?

Thanks!

[2021-07-07 17:19] fcakyon commented on #38
@ryanfont80 how does the original repo handle that? Most probably it can be done the same way.

[2021-07-07 17:33] ryanfont80 commented on #38
You load them as a list say ['weight1.pt', 'weights2.pt', 'weights3.pt']

But when I try that method in your Repo it is not a valid data type and causes errors. Specifically it causes :

  File "sahi_test.py", line 26, in <module>
    predict(
  File "C:\Users\Ryan\anaconda3_2020\lib\site-packages\sahi\predict.py", line 383, in predict
    detection_model.load_model()
  File "C:\Users\Ryan\anacond

[2021-07-07 17:34] ryanfont80 commented on #38
however if you use just 'weight1.pt' individually it works perfectly fine... so something in the string/list data type is causing the issue.  I cannot seem to find any guideline either for the model.load where an ensemble is used.

[2021-07-07 17:39] fcakyon commented on #38
@ryanfont80 `sahi` package is different than `yolov5` package. `sahi` does not have ensemble support but `yolov5` has.

you have to use `yolov5_detect` command from cli or `yolov5.detect()` method in python for ensemble support. check this page for ensemble tutorial: https://github.com/ultralytics/yolov5/issues/318

[2021-07-08 18:21] #38 closed

[2021-09-15 08:33] xugaoxiang opened #40 "Error occurred when using cli with gpu"
python: 3.8
pytorch: 1.7.1 + cu101
yolov5-pip: latest

`(yolov5pip) xugaoxiang@1070Ti:~/workshop/github$ yolov5 detect --source zidane.jpg
YOLOv5 🚀 2021-9-15 torch 1.7.1+cu101 CUDA:0 (NVIDIA GeForce GTX 1070 Ti, 8116.4375MB)

Fusing layers...
Model Summary: 283 layers, 7276605 parameters, 0 gradients
Traceback (most recent call last):
  File "/home/xugaoxiang/anaconda3/envs/yolov5pip/bin/yolov5",

[2021-09-16 23:45] fcakyon commented on #40
@xugaoxiang thanks a lot for your interest for the package! Would you mind sharing the command that you used?

[2021-09-17 00:08] #40 closed

[2021-09-17 00:09] fcakyon commented on #40
@xugaoxiang thanks for you interest in the package! it would be fixed with v5.0.10, could you try it?

[2021-09-30 13:47] RAbraham opened #42 "Return inference value directly instead of saving in text files in a project"
Hi,
Sorry as though there is good documentation, I don't know how to fit it to my use case, I think. My context is that I'm trying to run a yolov5 model on a server doing predictions via an API.

My data scientist has given me a weights file `model.pt` which is trained on our data. how do I
- load that model only once during server initialization
- pass a list of images in memory instead of a fold

[2021-09-30 16:04] fcakyon commented on #42
Hello @RAbraham, thanks a lot for your interest in the yolov5 package!

Assume your custom model file is located under `runs/exp1/weights/best.pt`. Then you can load it as:

[code]

Then you can perform inference with the loaded model as:

[code]

You can also perform batch inference by giving a list of images:
[code]

Feel free to ask if you have any further questions!

[2021-09-30 16:08] fcakyon commented on #42
@RAbraham instead of giving image paths, you can feed anything as input to the model:
[code]

[2021-09-30 21:00] RAbraham commented on #42
that's great. Thanks!

[2021-09-30 21:00] #42 closed

[2021-10-09 15:23] danielsoy opened #43 "WARNING: Dataset not found"
![136639514-32b1ceeb-9fe7-451b-8bf9-8737749870ec](https://user-images.githubusercontent.com/48926149/136664653-4eb59764-f662-474d-aab7-0b27c3ede7a0.png)
Hi there Fcakyon.

i was trying to run this netbook, but got stuck a step 3, with this error:

WARNING: Dataset not found, nonexistent paths: ['/content/valid/images']

I can see the images and its labels, here:/content/datasets/template_yolov5_AP

[2021-10-11 07:05] #43 closed

[2021-11-02 19:19] kadirnar opened #55 "Yolov5 Kurulumu"
Merhabalar,

Windows da anaconda üzerinden kurulum yapınca böyle bir hata alıyorum. Ubuntu da kurulum yaptığımda hata almıyorum. Yardımcı olabilir misiniz?

![yolov5-pip](https://user-images.githubusercontent.com/36204372/139930058-a75e309a-7ce3-4a67-9b48-d414a1cfd32b.png)

Spyder sürümlerim:

Ubuntu: 5.0
Windwos: 5.1

[2021-11-02 20:58] fcakyon commented on #55
Merhaba @kadirnar, `pycocotools` derleyebilmek icin Windows bilgisayarinda Visual Studio 14.0 veya daha ust surum kurulu olmasi gerekiyor. Ayrica C++ derleyici paketini kurman gerekiyor. Su videonun 8:45'ine kadar olan stepleri takip edebilirsin: https://www.youtube.com/watch?v=URWeg5PKYUM

Ubuntu'da default olarak g++ derleyici mevcut oldugu icin bu hata sadece Windows'ta aliniyor.

[2021-11-02 21:10] #55 closed

[2021-11-15 19:37] jorgegarcia197 opened #58 "Using model with onnx weights"
Wondering if I can use this library with the onnx weights exported from the trained model.

More especifically, if I can use the load it and use the detect method with onnx.

I am currently trying to do it but getting the following error

![image](https://user-images.githubusercontent.com/46676143/141843099-05fde9b8-bf4f-4f9e-8cee-a9cc1e236b3f.png)

and this is my current code

[code]

[2021-11-15 20:17] fcakyon commented on #58
@jorgegarcia197 thanks a lot for your interest in the project!

Unfortunately yolov5 predict api does not support onnx inference. You have to use `yolov5.detect` api for onnx inference (similar to original yolov5 repo):
[code]

You can follow this issue for more detail: https://github.com/fcakyon/yolov5-pip/issues/53

[2021-11-15 20:17] #58 closed

[2021-12-05 11:25] fcakyon opened #64 "yolov5+neptune.ai"
I would also be interested in this addition.

_Originally posted by @LJ-00

[2021-12-05 11:26] fcakyon commented on #64
You can use this package for yolov5+neptune.ai integration with many more features as
- coco dataset support,
- aws data and weight upload,
- neptune dataset tracking
...

[2021-12-05 11:27] #64 closed

[2021-12-06 02:48] LJ-00 opened #65 "problem reading yaml"
Hello,
Could you help me with the following: There is a problem when I try to use any yaml document to train:

  File "C:\Users\anaconda3\envs\torch_YOLOV5\lib\encodings\cp1252.py", line 23, in decode
    return codecs.charmap_decode(input,self.errors,decoding_table)[0]

UnicodeDecodeError: 'charmap' codec can't decode byte 0x90 in position 275: character maps to <undefined>

[2021-12-06 02:50] LJ-00 opened #66 "Problem during training"
Hello, I am running into the following problem:

Thanks in advance!

from yolov5 import train, val, detect, export

train.run(imgsz=640, data='coco128.yaml')
val.run(imgsz=640, data='coco128.yaml', weights='yolov5s.pt')
detect.run(imgsz=640)
export.run(imgsz=640, weights='yolov5s.pt')

  File "C:\Users\anaconda3\envs\torchpip\lib\site-packages\jsonschema\_format.py", line 240, in <module>
    @_ch

[2021-12-06 12:27] fcakyon commented on #65
@LJ-00  It seems like there are some special characters in your yaml that is causing some issues. Would you mind uploading your yaml file so that I can recreate this issue? At the moment I can run all scripts with my yaml files.

[2021-12-06 12:28] fcakyon commented on #66
Hello @LJ-00, are you sure you have `coco128.yaml` file present in your local that you give as input?

[2021-12-06 15:48] LJ-00 commented on #65
Thanks for your quick reply.

These are the contents:

# YOLOv5 🚀 by Ultralytics, GPL-3.0 license
# COCO 2017 dataset http://cocodataset.org
# Example usage: python train.py --data coco.yaml
# parent
# ├── yolov5
# └── datasets
#     └── coco  ← downloads here

# Train/val/test sets as 1) dir: path/to/imgs, 2) file: path/to/imgs.txt, or 3) list: [path/to/imgs1, path/to/imgs2, ..]
#path: D:/dataset

[2021-12-06 16:19] fcakyon commented on #65
You have to update the slashes as `/`.

[code]

[2021-12-06 21:29] LJ-00 commented on #65
Hello
I did that but it didn't work. I was using the yaml files from the ultranalitics yolov5 as a template, and it had problem recognizing the header " YOLOv5 🚀 "

[2021-12-06 21:32] fcakyon commented on #65
Yes @LJ-00 emojis may cause issues in yaml file, can you try with minimum required text as in: https://github.com/fcakyon/yolov5-pip/issues/65#issuecomment-986929902?

[2021-12-06 22:58] LJ-00 commented on #65
Yes, that worked! thanks

[2021-12-06 22:59] LJ-00 commented on #66
That was the issue, sorry. It runs now.

[2021-12-06 23:04] LJ-00 opened #67 "Memory usage issue question"
Hello!
I found an issue with this implementation.
With the ultranalitics implementation I am able to use yolov5x with 4 images of 640. My images are huge and slicing them in small pieces is not an option for me.
Upon using yolov5 with pip, I am only able to use yolo5s with 2 images, same size as before. I have 1 gpu of 11 Gb of memory.

if I increase the number of images, I get this error:
OSError

[2021-12-06 23:17] #65 closed

[2021-12-06 23:18] fcakyon commented on #66
@LJ-00 glad to hear that! Feel free to open any issues in the future :100:

[2021-12-06 23:18] #66 closed

[2021-12-06 23:21] fcakyon commented on #67
@LJ-00  his repo uses the exact same source code of ultralytics/yolov5. Can you share your code used in ultralytics and yolov5-pip that results in this difference? So that i can recreate the issue and work on a fix.

[2021-12-06 23:34] LJ-00 opened #68 "Neptune Logger problem"
Hello,

Thanks for all of this great work.

I am able to train, but when I try to include the api token and project id for neptune, I get the following result.

  File "C:\Users\LJ\anaconda3\envs\yolov5pip\lib\site-packages\yolov5\utils\loggers\__init__.py", line 98, in __init__
    self.neptune = NeptuneLogger(self.opt)

  File "C:\Users\LJ\anaconda3\envs\yolov5pip\lib\site-packages\yolov5\utils\

[2021-12-06 23:47] LJ-00 commented on #67
If I train from scratch without the weights, it runs well in both pip and ultranalitics. I was doing that in ultranalitics. My dataset is vastly different for the coco dataset, so I thought it was better to not add them.
Solved.

[2021-12-06 23:50] fcakyon commented on #68
@LJ-00  thanks a lot for noticing this bug (it happens when you dont provide `--s3_upload_dir`)!

It should be fixed with https://github.com/fcakyon/yolov5-pip/pull/69.

Can you please update your yolov5-pip installation with?

`pip install git+https://github.com/fcakyon/yolov5-pip.git@fix-neptune`

If it is fixed please repond here so that I will release `v6.0.6` with this neptune logging fix!

[2021-12-06 23:51] #67 closed

[2021-12-07 00:14] LJ-00 commented on #68
- Unfortunately, that alone doesn't solve the problem.

- In a different run, after doing that pip install, I added a directory
--s3_upload_dir' mydirectory
but I still get the same error.

- On a third iteration, I added that default='./upload' to the yaml file and it can runs for one epch, but then I get an error when Iit tries to save to upload weights to aws (which i don't have).  Is there a w

[2021-12-07 00:33] fcakyon commented on #68
@LJ-00 just to confirm:
- You dont have `yolo_s3_data_dir:` field in your data.yaml.
- You dont set `--s3_upload_dir` argument during training.
- You dont set `--upload_dataset` argument during training.

Right?

[2021-12-07 00:36] fcakyon commented on #68
@LJ-00 I have pushed another changes to `@fix-neptune` branch.

Can you `pip uninstall yolov5` then `pip install git+https://github.com/fcakyon/yolov5-pip.git@fix-neptune` and try to train again?

[2021-12-07 00:41] fcakyon commented on #68
Yes when you **dont** add `--upload_dataset` and `--s3_upload_dir` arguments, dataset and weight upload is disabled.

[2021-12-07 01:26] LJ-00 commented on #68
information in my yaml data file:
train: D:\datasets\data\images  ]
val: D:\datasets\data\images
test: D:\datasets\data\validation
yolo_s3_data_dir: D:\yolov5\upload
# Classes
nc: 1  # number of classes
names: ['data']  # class names

yolov5 train --data data.yaml --cfg yolov5x.yaml --batch-size 4 --img 640 --neptune_project team/test --neptune_token tokennumber

It is running and uploading the da

[2021-12-07 01:37] fcakyon commented on #68
@LJ-00 you have to remove this line from yaml:

<s> yolo_s3_data_dir: D:\yolov5\upload </s>

to disable upload.

[2021-12-07 03:58] LJ-00 commented on #68
I deleted that line, and I still get

----NeptuneUnhandledArtifactProtocolException------------------------------------

You have used a Neptune Artifact to track a file with scheme unhandled by this client (d).

[2021-12-07 13:54] fcakyon commented on #68
@LJ-00 have you tried deleting local (faulty) neptune folders files? I cannot recreate this issue. When I start traning with neptune info without aws info, it does not give me errors.

[2021-12-07 18:19] LJ-00 opened #70 "Yolov4 + neptune.ai + pytorch"
Hello,

thanks for your work.

Will you provide a neptune.ai implementation as well for yolov4? Yolov5 works well, but it doesn't have a paper.

[2021-12-07 18:37] #68 closed

[2021-12-07 18:38] fcakyon commented on #70
Hello again @LJ-00! In the short term I dont have such intentions, unfortunately.

[2021-12-08 13:28] #70 closed

[2021-12-12 11:44] hey24sheep opened #72 "Colliding name 'Object365' and 'object365'"
I am facing this issue in multiple places, is there any workaround for this?

[code]

[2021-12-12 13:15] fcakyon commented on #72
@hey24sheep as a temporary solution, you can change the name or path of your yaml file.

[2021-12-12 13:53] hey24sheep commented on #72
Actually, I am having this issue on git clone itself. I just want to add your library as an offline dataset on Kaggle. Even on windows if you download the ".zip" of your repo, it will give error on unzipping because of same name.

[2021-12-12 13:55] hey24sheep commented on #72
Also, if you git clone your repository, it won't copy the "Objects365.yaml" (with capital O).

[2021-12-12 14:37] fcakyon commented on #72
It is better to use it via `pip install yolov5` instead of cloning it (if you are not into developing it)

[2021-12-12 14:39] hey24sheep commented on #72
Okay, I have fixed the issue on my end by deleting the 'Object365.yaml' file on a different [branch](https://github.com/hey24sheep/yolov5-pip/tree/fixed_repo) file on my fork.

I have used it as that but, I need it for an offline/local build so, I cannot do pip install on the machine. Thanks a lot for your help. But, I will still say, on Windows same name files give issues. Thanks a lot again for

[2021-12-12 14:39] #72 closed

[2021-12-19 21:48] AI-Hunter opened #73 "About .yaml file?"
@fcakyon
Thank for this repo,
Would tell me about the .yaml file please. Previously I have used .cfg.

[code]
What are 0-P1/2 1-P2/4 ... ? What they mean?

Thanks a lot.

[2021-12-19 22:11] fcakyon commented on #73
@AI-Hunter  the P0-P6 output layers are standard names for output layers in vision models.

The idea is simply that the stride = 2^P, i.e. for P6 stride = 2^6 = 64.

A 640x320 image will turn into a 10x5 feature map at stride 64.

Here is an good diagram from the EfficientDet paper:
![effdet](https://user-images.githubusercontent.com/34196005/146692590-9aa0c881-f6e9-49f0-a8b1-cfe9b41ac5dc.png)

[2021-12-19 22:11] #73 closed

[2022-01-01 12:09] jay0x5 opened #77 "convert prediction results from torch.tensor to numpy"
I am trying to use this script with my custom trained yolov5 weights but i am getting this error:

AttributeError: module 'yolov5' has no attribute 'load'

python version= 3.7.12
yolov5 = 6.06

is this a bug or I am doing something wrong?

[2022-01-01 12:14] jay0x5 commented on #77
i am running it on colab and here is the script:

import yolov5

# load model
model = yolov5.load('/content/yolov5/runs/train/exp/weights/best.pt')

# set image
img = '/content/data/test/data31.png'

# perform inference
results = model(img)

# inference with larger input size
results = model(img, size=1280)

# inference with test time augmentation
results = model(img, augment=True)

# parse result

[2022-01-01 12:44] fcakyon commented on #77
@jay0x5 i cannot reproduce the error, i get no errors running this snippet:

[code]

Can you post the full error output? Can you give link to your colab so i can test it?

[2022-01-01 12:47] fcakyon commented on #77
@jay0x5 are you sure you dont have yolov5 added to your system path? If thats the case you have to remove it from your system path.

[2022-01-01 13:03] jay0x5 commented on #77
I tried it on my local windows machine
it works! probably some issue with colab notebook
btw i wanted to ask if i can find any tutorial on scaling this code? like printing the predicted class name?
because the basic script doesnt print predictions when i say print(predictions)

[2022-01-01 13:07] jay0x5 commented on #77
i checked the type of predictions and scores and i wanted to ask if i can convert the tensors into more readable format like string and integer?

[2022-01-01 13:19] fcakyon commented on #77
If you want to visualize predictions, your have to run:

[code]

[2022-01-01 13:21] fcakyon commented on #77
To convert the prediction values into numpy array, you have to run:

[code]

`tolist()` method of torch.tensor, converts the tensor to a numpy array.

[2022-01-01 13:26] jay0x5 commented on #77
i tried converting torch tensor to numpy array but i got this big error in line  "model = yolov5.load(model_path)
last line says "OSError: [WinError 123] The filename, directory name, or volume label syntax is incorrect"
Thanks for constant help!
error =>
Traceback (most recent call last):
  File "c:/Users/Jay/Desktop/yolo-data/pipyolo/main.py", line 7, in <module>
    model = yolov5.load(model_pa

[2022-01-01 13:33] jay0x5 commented on #77
Thanks for constant help
i tried to convert to np.array and got this as result
<class 'yolov5.models.common.Detections'> [type]
<yolov5.models.common.Detections object at 0x000001BBFD47DC08> [result]
I wanted to ask if i can retrieve the class name it predicts in a readable format?
My best wishes for a new year!

[2022-01-01 13:39] fcakyon commented on #77
@jay0x5 have you tried `tolist()`? It returns in readable format:

[code]

[2022-01-01 13:40] fcakyon commented on #77
If you receive empty array, it means model did not predict any object in the given image. You can increase image_size or decrease prediction threshold.

[2022-01-01 13:52] jay0x5 commented on #77
yes thank you i tried with another image and it returned the values in an array and also made boxes
can i print classname aswell? i have 2 classes "enemy" and "team" so how do i print them based on prediction my model did?

[2022-01-01 14:06] fcakyon commented on #77
@jay0x5 class names are stored in `model.names`. So you can get the name of the category 3 as `model.names[3]`.

[2022-01-01 14:17] jay0x5 commented on #77
thanks but anyway of printing the detected name and not the stored classnames?
like if enemy is detected by model then print only enemy and not a list of all classnames
Thank you

[2022-01-01 14:22] fcakyon commented on #77
@jay0x5 as I mentioned earlier `model.names[3]` gives you the category name of 3rd category. It does not give you a list of all categories.

[2022-01-01 14:24] jay0x5 commented on #77
i tried that but it said list index out of range

[2022-01-01 14:27] fcakyon commented on #77
It means your model does not have category id 3. You have to get the category id from prediction result as:

[code]

[2022-01-01 14:41] jay0x5 commented on #77
yes i printed out category_ids and i got this list "[1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0]"

[2022-01-01 14:43] jay0x5 commented on #77
if i print model.names[1] it gives me "enemy" and if i print model.names[2] it gives me "team"
but how will my program know that model actually detected "team" or "enemy"

[2022-01-01 14:50] fcakyon commented on #77
@jay0x5 this is your category id per object:
category_ids = [1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0]

you get the category names per object as:
[code]

will print `team` 9 times.

[2022-01-01 14:54] jay0x5 commented on #77
Thank you very much!!!
now i can know all the predictions
sorry for asking soo many questions
hope you have a great day sir :))

[2022-01-01 15:02] #77 closed

[2022-01-02 07:36] jay0x5 opened #78 "Low FPS During Video detection"
Sorry for asking again but whenever I try to detect on video, i cv2.imshow it and what i see is very low frame rate like 1-2 per frame and video is very much sluggish
so does this affect the detection speed of model also or only the video looks sluggish to me but model is processing it normally?

[2022-01-06 12:06] yktangac opened #79 "Dockercompose up: No module named 'models.yolo'"
hello, thanks to your work, I'm glad that there is a yolov5 pip package. It's magic, I mean both of yolov5 and this repo are great. I try it on the project I'm working on.
It's a server containing different models for different dataset annotation.
Every thing works fine in jupyter notebook. However, when it comes to the my current work, it complains that there is no module named model.yolo...

[th

[2022-01-06 12:56] fcakyon commented on #79
@yktangac thanks a lot for your innterest!

Prefered way of using this package is:

[code]

Have you tried that way?

[2022-01-07 02:50] STAROFWIND opened #80 "Multi-GPU"
Hi everyone,
I am working on this repo. I want to using 2 GPU for acceleration. I tried --device=0,1 but not successful.
Could you give me some hints here ?
Thank you so much

[2022-01-07 04:43] STAROFWIND commented on #80
Finally I found the answer: CUDA_VISIBLE_DEVICES=0,1,... works for me !!!

[2022-01-07 07:29] yktangac commented on #79
Yes, I tried both. I'm still figuring out... ar! I finally knew what's going on.
It's because of this  issues: <br> [Module collision when loading more than one model with Torch Hub #5083](https://github.com/ultralytics/yolov5/issues/5083) </br>
<br> [Pytorch Hub issues # 243](https://github.com/pytorch/hub/issues/243) </br>
I tried your way and both with this:
[My Code Implementation for yolov5-p

[2022-01-07 07:29] #79 closed

[2022-01-07 10:07] fcakyon commented on #79
@yktangac have you managed to solve this issue?

[2022-01-07 10:24] yktangac commented on #79
Yes, it works. I make a code snippet above for others who may encounter this in future if they're running multiple models in their application.
Not sure whether there may have a better workaround.
[code]
Probably create the _intit_paths.py but I didn't try it.
Again, thanks for your help 😆.

[2022-01-07 10:26] fcakyon commented on #79
ah i see. thanks a lot for spotting the issue man 🚀

[2022-01-07 17:09] #80 closed

[2022-01-13 12:07] LorenzoFerriniCodes opened #81 "Update to the latest YOLOv5 commit"
Hi! I am developing an application that relies on the `DetectMultiBackend` class, which the YOLOv5 authors have defined in a more recent commit than the one you have used for your software latest version. Would it be possible to update your code to the latest Ultralytics' YOLOv5 commit?

Thanks for the big work you're doing here to provide a packaged version of YOLOv5 :)

[2022-01-19 15:13] rodrigo2019 opened #84 "Getting different results from hub"
Hello, i'm using the pypi package, but the problem is when I use the pypi lib I get different results rather than using the hub.
Also, even setting device to cpu, actually the library allocate some gpu memory, the hub model doesn't.

Could you help me?

[code]

[2022-01-21 03:29] fcakyon commented on #84
@rodrigo2019 hub model and this package does not use the same version of repo. I will update this repo when I find some time. Follow this thread: https://github.com/fcakyon/yolov5-pip/issues/81

[2022-01-21 03:29] #84 closed

[2022-01-21 05:21] da-tubi opened #85 "pingback: rikai-yolov5 available"
See https://github.com/Tubitv/rikai-yolov5

And there is a Google Colab notebook for rikai-yolov5:
[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/Tubitv/rikai-yolov5/blob/main/notebooks/Mojito.ipynb)

Thanks for your awesome work on the packaged yolov5 package.

This issue is a pingback of https://github.com/da-tubi/rikai-examp

[2022-01-21 08:44] fcakyon commented on #85
@da-tubi thanks for notifying! Seems great 💯

[2022-01-21 08:44] #85 closed

[2022-02-16 13:01] haimat commented on #81
@fcakyon Heyho, any news on this?

[2022-02-28 16:38] massimiliano96 opened #87 "Update Hyperparameters from Python API"
Hi!

Installing Yolov5 from pip, how can I change the hyperparameters needed for the training phase of the Yolov5?

Thanks in advance,

Massi

[2022-03-16 13:37] jay0x5 opened #88 "How can I print prediction score for each object detected?"
Hello i wanted to know how i can print the prediction score for the detected object? here is my script:

import yolov5
import sys

model = yolov5.load('C:\\Users\\Jay\\Desktop\\YoloV5\\best.pt')

imgpath = "C:\\Users\\Jay\\Desktop\\YoloV5\\Train\\Cube13.jpg"

# img = sys.argv[1]
img = imgpath

results = model(img)

results = model(img, size=1280)

results = model(img, augment=True)

predictions =

[2022-03-17 16:43] koulis-probotek opened #89 "Windows GPU no recognition"
I am using a Windows PC and when I run the model with GPU it doesn't recognise anything.
If I choose cpu, it works great. Everything was also tested on a new virtual environment.
I've installed yolov5-pip and torch 1.11.0 with Cuda 11.3.

This is the code I am using:
<details>
<summary>mycode.py</summary>

[code]
</details>

P.S. I've also tested the original YoloV5 by ultralytics which works both

[2022-04-01 11:26] Paul-Ajay commented on #81
@fcakyon Hi, any update on this

[2022-04-04 22:47] #78 closed

[2022-04-04 22:49] fcakyon commented on #87
@massimiliano96 you can provide the hyperparam file as `yolov5 train --hyp file_name.hyp` :+1:

[2022-04-04 22:49] #87 closed

[2022-04-04 22:50] fcakyon commented on #88
it is given in readme: https://github.com/fcakyon/yolov5-pip#use-from-python

[2022-04-04 22:50] #88 closed

[2022-04-04 22:51] fcakyon commented on #89
@koulis-probotek try with `model = yolov5.load('yolov5s.pt', device:'cuda:0')`

[2022-04-04 22:51] #89 closed

[2022-04-04 23:58] fcakyon commented on #81
@LorenzoFerriniCodes @haimat @Paul-Ajay I have updated the package to the latest ultralytics/yolov5 source!

Please update your `yolov5` packages from `040422` branch by `pip install -U git+https://github.com/fcakyon/yolov5-pip.git@040422` and confirm there is no bug.

Once you confirm, I will merge the PR and publish a new release `v6.1.0`!

[2022-04-06 09:56] dingyiyi0226 opened #94 "How to select the device to cpu"
Hi,
I want to do inference on cpu, but it always show this warning. How to select the device properly?

The versions:
[code]

Thanks

My code

[code]

The warnings

[code]

[2022-04-08 10:49] fcakyon commented on #81
@LorenzoFerriniCodes @haimat @Paul-Ajay @severin-lemaignan @kalzeo latest version of the `yolov5` package `v6.1.0` is live covering all the updates from the original `ultralytics/yolov5` repo! 🔥

Update your yolov5 by `pip install -U yolov5` 🚀

[2022-04-08 10:49] #81 closed

[2022-04-08 13:00] haimat commented on #81
Thanks a lot!

[2022-04-12 02:44] yangboz opened #97 "NameError: name 'YOLOv5' is not defined"
after
[code]
successfully, then run the example,
it throws:
[code]
env:python3.7, macosx.
sorry my typo , it should be yolo5.

[2022-04-12 06:37] #97 closed

[2022-04-14 04:53] youngjae-avikus opened #98 "yolov5 6.1 export tensorrt error"
Hello!
The tree below committed to 22.03.28 from the original repository is exported tensorrt

https://github.com/ultralytics/yolov5/tree/d51f9b2ff6e60b7eaaafc7e8d991f0d6dbb786cd

[code]

but, this repo cannot export tensorrt engine
The execution command and error are as follows, and the Python virtual environment that you run is also the same

[code]

[code]

[2022-04-14 04:56] SethWen opened #99 "Can you update the latestcode from ultralytics/yolov5?"
I call yolov5 on production, but the yolov5 set a global logging to root logger,  and  it can not be disabled, which is annoying。
Luckily，the latest code fix it.
Please see [ttps://github.com/ultralytics/yolov5/pull/7296](url).
Thanks ~

[2022-04-14 17:39] fcakyon commented on #98
@youngjae-avikus i will look into it when i find some time, thanks for the detailed report 👍

[2022-04-14 17:39] fcakyon commented on #99
@SethWen i will update it to latest when i find some time, thanks for pointing out your request 👍

[2022-04-14 17:40] fcakyon commented on #94
@dingyiyi0226 @yangboz can you try again with the latest version `yolov5==6.1.0` ?

[2022-04-14 17:58] dingyiyi0226 commented on #94
@fcakyon It works.

[2022-04-14 17:58] #94 closed

[2022-04-15 06:01] yangboz commented on #94
still the same error.

[2022-04-26 17:05] ntvuongg opened #101 "How can i set conf_threshold, iou_threshold and NMS when running model.predict ?"
I want to set confident threshold, iou threshold and apply NMS when i run model.predict ? Is there any way to do that ?

[2022-04-26 17:25] #101 closed

[2022-04-26 17:31] fcakyon commented on #101
@ntvuongg you can do that by:

[code]

[2022-04-26 17:48] ZhangChen0212 opened #103 "error when loading model"
Hi there! Currently I'm running it in Raspberry Pi 3B, and YOLOv5 actually works in terminal. Then I expect it to run in python, so I copied the code in Using from Python (basic), but it raises series of errors:

[code]

Any reply will be greatly appreciated!

[2022-04-26 18:18] fcakyon commented on #103
@ZhangChen0212 it means that you dont have internet connection to download the `zidane.jpg` :)

[2022-04-26 18:41] fcakyon commented on #103
@ZhangChen0212 i am not able recreate the issue.
Can you provide your model file?
What is the format?
Is it a TF/TFLite model?

[2022-04-26 19:01] #98 closed

[2022-04-26 19:01] #103 closed

[2022-04-26 19:08] fcakyon commented on #103
@ZhangChen0212 this pr should fix this issue: https://github.com/fcakyon/yolov5-pip/pull/104

Can you please update your `yolov5` from main branch and see if the bug is solved?

[code]
[code]

[2022-04-26 19:09] fcakyon commented on #98
@youngjae-avikus this pr should fix this issue: https://github.com/fcakyon/yolov5-pip/pull/104

Can you please update your `yolov5` from main branch and see if the bug is solved?

[code]
[code]

[2022-04-26 19:15] #99 closed

[2022-04-26 19:16] fcakyon commented on #99
@SethWen i have added that feature with this pr: https://github.com/fcakyon/yolov5-pip/pull/105

Can you please update your `yolov5` from main branch and see if the issue is solved?

[code]
[code]

[2022-04-26 19:25] ZhangChen0212 commented on #103
It is a pt model.

[2022-04-26 19:37] ZhangChen0212 commented on #103
I did:
`pip3 install git+https://github.com/fcakyon/yolov5-pip.git`

Got:
[code]

[2022-04-26 19:40] fcakyon commented on #103
@ZhangChen0212 are you sure you have internet access?

[2022-04-26 19:50] ZhangChen0212 commented on #103
![image](https://user-images.githubusercontent.com/61965406/165380520-04050f24-442e-43aa-9292-c32379b49c93.png)
I do have internet access.

[2022-04-26 19:56] fcakyon commented on #103
@ZhangChen0212 I am not getting this error when I try `pip install git+https://github.com/fcakyon/yolov5-pip.git`

[2022-04-26 19:57] fcakyon commented on #103
Then you can:

[code]

[2022-04-26 23:27] youngjae-avikus commented on #98
What exactly did you revise? @fcakyon
I found the engine load part related to sahi autoshape
https://github.com/ultralytics/yolov5/issues/7128#issuecomment-1107963421

[2022-04-26 23:59] fcakyon commented on #98
@youngjae-avikus i have updated the autoshape: https://github.com/fcakyon/yolov5-pip/pull/108/files

[2022-04-27 14:50] ZhangChen0212 commented on #103
Thanks! But it still leads to the same error:
[code]

[2022-04-27 14:57] fcakyon commented on #103
@ZhangChen0212 i am not having that error, can you provide you model file?

[2022-04-27 15:04] ZhangChen0212 commented on #103
[yolov5s.zip](https://github.com/fcakyon/yolov5-pip/files/8573197/yolov5s.zip)

[2022-04-27 15:24] ZhangChen0212 commented on #103
Can I somehow modify the code to use the model in the local path?

[2022-04-27 16:22] fcakyon commented on #103
@ZhangChen0212 for mp4 files you can use cli:

[code]

[2022-04-27 16:26] fcakyon commented on #103
@ZhangChen0212 can you please star the repo if you like it 🚀

[2022-04-27 16:43] ZhangChen0212 commented on #103
Thank you so much for all these help and this package!

[2022-05-12 15:47] italianconcerto opened #113 "Pillow requires Python '>=3.7' but the running Python is 3.6.9"
I'm trying to run yolov5 on a docker inside a jetson nano with JetPack 4.6.1.
I'm using Python 3.6.9 but when I run "pip3 install yolov5" I get the error in the title.
Is there a way to go on with that?
Thanks

[2022-05-12 16:29] fcakyon commented on #113
@italianconcerto you have to clone the repo, change the requirement versions and install the package from source to make it work with jetson nano.

You can follow this discussion: https://github.com/ultralytics/yolov5/issues/2524#issuecomment-1120462526

[2022-05-18 19:55] italianconcerto commented on #113
I tried but I can't find a way to make torch, torchvision and opencv work together with CUDA. the only way seems to be using this: https://catalog.ngc.nvidia.com/orgs/nvidia/containers/l4t-ml

This contain the dockerized libraries already working on jetson nano.
Unfortunately that doesn't seem to be working with the last version of YOLOv5 since I tried cloning it and running detect.py but it didn'

[2022-05-20 02:25] cq10086123 opened #114 "Problem with model training"
When the model is trained, it will report infinite errors and generate infinite folders

[2022-05-20 11:21] fcakyon commented on #114
@cq10086123 i am not able to reproduce any of the issues you mention. Can you provide info on your working environment and steps to reproduce?

[2022-05-26 07:02] #114 closed

[2022-05-26 07:02] #113 closed

[2022-06-04 11:17] kadirnar opened #117 "load_model() got an unexpected keyword argument 'config_path'"
[code]
Load_model fonksiyonun da config path değişkeni olmamasına rağmen https://github.com/fcakyon/yolov5-pip/blob/main/yolov5/helpers.py#L74 burada config_path adlandırılmış.

Error Message
[code]
Kodu config_path sildiğimde sorun düzeldi.
[code]

Ayrıca bu kütüphaneler kullanılmamasına rağmen import edilmesinin özel bir sebebi var mı?
[code]

[2022-06-04 13:47] #117 closed

[2022-06-04 13:48] fcakyon commented on #117
Tesekkurler duzelttim :+1:

[2022-06-04 14:53] kadirnar commented on #117
Rica ederim hocam.

[2022-06-07 09:22] MetehanYasar11 opened #120 "ERROR: Could not find a version that satisfies the requirement sahi>=0.9.1"
While installing yolov5 with $ pip install yolov5==6.1.3 with Jetson AGX

it retruns ;

ERROR: Could not find a version that satisfies the requirement sahi>=0.9.1 (from yolov5) (from versions: 0.3.0, 0.3.1, 0.3.2, 0.3.3, 0.3.4, 0.3.5, 0.3.6, 0.3.7, 0.3.8, 0.3.9, 0.3.10, 0.3.11, 0.3.12, 0.3.13, 0.3.14, 0.3.15, 0.3.16, 0.3.17, 0.3.18, 0.3.19, 0.4.0, 0.4.1, 0.4.2, 0.4.3)
ERROR: No matching distributi

[2022-06-07 09:38] fcakyon commented on #120
@MetehanYasar11 thanks for your intrest!

What is python version? Starting from 6.0.5, python 3.5 support is dropped. You can try to update this line to see if it can be installed on python 3.5 environment: https://github.com/fcakyon/yolov5-pip/blob/6ccf6148db1d0aa3869188e738f98a071eb5e342/setup.py#L36

[2022-06-09 05:16] MetehanYasar11 commented on #120
Thaks for reply, I use jetpack 4.5 on jetson xavier agx. So that I can use python 3.6.9 with tensorRT 7. With sahi>=0.4.3, I passed the error above but stuck in tensorRT 8 requirement for creating engine...

I need to flash jetpack 5 to the device which has tensorRT 8 and python 3.9.

[2022-06-09 05:16] #120 closed

[2022-06-11 14:38] wwdok opened #121 "How to inference with local image"
I want to inference local image by following code:
[code]
but it gives error：
[code]

[2022-06-11 15:24] fcakyon commented on #121
@wwdok can you provide the image you have used?

[2022-06-13 08:16] wwdok commented on #121
@fcakyon
![dog1](https://user-images.githubusercontent.com/43233772/173310099-958bb56c-ac74-40c5-a144-fc0d42905e5e.jpg)

[2022-06-15 21:16] kadirnar commented on #121
Hi @wwdok,

You don't need to do the conversion. It detects when I run it this way.
[code]
You can refer to the codes here for data preprocessing. [Yolov5-Preprocces](https://github.com/fcakyon/yolov5-pip/blob/main/yolov5/detect.py#L123-L127)

[2022-06-15 21:21] fcakyon commented on #121
@kadirnar is right, you have to let yolov5 do the preprocessing.

[2022-06-15 21:21] #121 closed

[2022-07-14 05:46] QazyBi opened #127 "Use of albumentations"
Hi, thank you for the repo!

I was wondering if it is possible to use augmentations from albumentations library to train yolov5 model?

I know that original yolov5 authors provided such option as stated [here](https://github.com/ultralytics/yolov5/pull/3882). Which is manually editing file with augmentations. However, this repo creates a package and it is not feasible to edit code of the package.

[2022-08-01 11:04] wasdee opened #129 "No module named 'yolov5.utils.dataloaders'"
The lib is missing the api 'yolov5.utils.dataloaders'

[2022-08-01 11:18] fcakyon commented on #129
Why should it include it? What is your use case? I am not having any errors using any usage mentioned in the readme.

[2022-08-02 09:32] wasdee commented on #129
It is a function use in the `detect.py` the official latest detection script. Thus, I am not able to run the scipt.

2nd, it is a public api, not internal ones. e.g. namespace start with underscore.

[2022-08-02 09:34] wasdee commented on #129
My codebase removed the dataloaders from `detect.py`.

Feel free to keep it.

[2022-08-02 09:34] #129 closed

[2022-08-02 09:35] fcakyon commented on #129
The latest updates from the original source are not present in this repo. This repo follows from behind (generally 2-3 months back).

Is the dataloaders module recently added?

[2022-08-02 09:38] wasdee commented on #129
yep. it recently added.

[2022-08-02 09:40] fcakyon commented on #129
Once I find some free time I will update the source to latest 👍

[2022-08-03 17:44] kadirnar commented on #127
Why are these parameters turned off?
https://github.com/fcakyon/yolov5-pip/blob/main/yolov5/train.py#L579

[2022-08-03 18:58] fcakyon opened #130 "About some parameters in train.py arguments"
Why are these parameters turned off?
https://github.com/fcakyon/yolov5-pip/blob/main/yolov5/train.py#L579

_Originally posted by @kadirnar in https://github.com/fcakyon/yolov5-pip/issues/127#issuecomment-1204279985_

[2022-08-03 18:59] fcakyon commented on #130
@kadirnar yolov5-pip uses finetuning hyperparams instead of from scratch params as default: https://github.com/fcakyon/yolov5-pip/blob/defc4f703e53d8492072a134d8d714c0f82438d9/yolov5/train.py#L646

[2022-08-04 21:59] #130 closed

[2022-08-04 22:00] fcakyon commented on #127
@QazyBi if you have any design suggestion to add albumentations support for this package, I would be glad. Currently this package does not support that.

[2022-08-04 22:23] fcakyon commented on #129
@wasdee I have just updated the repo to include the latest updates from ultralytics: https://github.com/fcakyon/yolov5-pip/releases/tag/6.1.7

[2022-08-13 02:02] pelennor opened #132 "yolov5.utils.datasets module was renamed to yolov5.utils.dataloaders"
Hello.
From ultralytics/yolov5 at this [commit](https://github.com/ultralytics/yolov5/tree/84e7748564f83ba04601770f17a38cc55e6be661) that is based on yolov5-pip v6.1.7, yolov5.utils.datasets module has been renamed since this [commit](https://github.com/ultralytics/yolov5/commit/9d8ed37df77e4e06a1b63cbf51785ec91557bf3d)(it is not officially released yet at least v6.1, but branch v7.0 includes it)

[2022-08-13 07:52] #132 closed

[2022-08-13 07:53] fcakyon commented on #132
@pelennor thanks for spotting this issue! Should be fixed with `v6.1.8`

[2022-08-17 06:48] jay0x5 opened #134 "Get x-y coordinates of detected object"
Hi, is there any way of getting x1, x2 y1 and y2 coordinates of a detected object??
Thanks

[2022-08-17 07:38] fcakyon commented on #134
@jay0x5 have you checked the readme?

[code]

[2022-08-17 07:38] #134 closed

[2022-08-30 06:42] ArtiVerma17 opened #135 "save_json=True during validation returns error"
when running val.py to validate the trained yolov5 model turning --save_json=True returns an error message
[code]
The error message is

[code]

[2022-08-30 06:51] #135 closed

[2022-08-30 08:36] thoron opened #136 "Freeze cli argument error"
When executing cli commands with freeze you will get an error:
Command:
[code]
Stacktrace:
[code]

The `setattr` in the referenced line could be the culprit if it boxes lists into int

https://github.com/fcakyon/yolov5-pip/blob/41501a4ca96ef8e66a764e13ea122c719c200277/yolov5/train.py#L732

Short example of the possible issue:
[code]

[2022-08-30 08:43] fcakyon commented on #136
Have you tried providing it as list as `--freeze '[10,]'` or as `--freeze '10,'`?

[2022-08-30 12:14] fcakyon commented on #136
I will try to inspect more to understand the issue

[2022-08-31 12:48] ameicler opened #137 "Multi-GPU DistributedDataParallel Mode"
Hi,

Thanks for your work.

How do you get to train on multi-gpus using the [recommended way](https://github.com/ultralytics/yolov5/issues/475) of the repo?

I've passed "0,1,2,3" as `device` argument but this seems to do only Multi-GPU [DataParallel](https://pytorch.org/docs/stable/nn.html#torch.nn.DataParallel) Mode (not recommended).

Cheers

[2022-08-31 13:05] ameicler commented on #137
Here are the logs I'm seeing:

[code]

[2022-09-06 12:32] emillundh opened #138 "Exception when using --evolve"
Retraining on a custom dataset:
[code]
and after one epoch I receive the error
[code]

[2022-09-06 12:35] fcakyon commented on #138
@emillundh can you please post the full error traceback?

[2022-09-06 12:37] emillundh commented on #138
Sorry, here it comes
[code]

[2022-09-06 12:45] emillundh commented on #138
Sorry here it comes
[code]
Actually I have no idea what the line "# To support running..." is doing - seems to come from my own code, but probably the traceback is not read correctly at that point, because the error itself was confirmed on two completely different machines!
[code]

[2022-09-06 12:56] fcakyon commented on #138
thanks for the report!

this pr should fix it: https://github.com/fcakyon/yolov5-pip/pull/139

[2022-09-06 13:05] #127 closed

[2022-09-16 11:30] fcakyon commented on #136
@thoron with the latest updates thisu usage is supported now:
[code]

[2022-09-16 11:30] #136 closed

[2022-09-20 11:47] fireinice opened #150 "yolov5 val working directory error"
after installing the package and run
[code]

an exception about

dataset not found

as some logging, it shows the cli script will use package installed directory as the working dir.
since the path in yaml is relative, it won't work.

[2022-09-20 11:49] fcakyon commented on #150
Hello @fireinice, can you please post the full error trace?

[2022-09-20 12:25] fireinice commented on #150
I'm not using coco yaml but a customized valid yaml:
[code]
and it will try to load data from /home/fireinice/.virtualenvs/myvirtual/lib/python3.9/site-packages/yolov5/
which is where the package intalled
[code]

by some code digging, the problem is caused by the code below
[code]

located on utils/general.py L456

[2022-09-20 12:43] fcakyon commented on #150
If you want to use custom daya yaml, you have to provide it as `--data test.yaml`. Have you tried that?

Your cli sample from first comment is not valid.

[2022-09-20 13:13] fireinice commented on #150
yes, I've tried, after commet the codes above ,both work. if not, neither work

[2022-09-20 13:22] fcakyon commented on #150
You say that after commenting out the `utils/general line 456`, its fixed, right?

If yes, I will look into it 👍

[2022-09-20 13:37] fireinice commented on #150
yes
and by the codes
[code]
located on the same file make the root as where the main script located.

I see the two lines are from yolov5 codes.
by the usage of yolov5, it makes sense since the yolov5 detect.py/val.py/detect.py is always the ROOT(working) directory, and people work around in that directory directly pull from git. however when we install the package, the directory became the direct

[2022-09-20 14:37] fcakyon commented on #150
No, this is the expected behavior. Assume that the user did not provide any `.hyp` config or `data.yaml` or model config file, then this yolov5 package should use the default files located under pip directory. So using the pip directory as root is expected and necessary.

If a user wants to provide a custom path, then he/she should provide the paths as absolute paths.

[2022-09-20 16:19] fireinice commented on #150
but the yolov5 configuration recommended use relative path in configuration. and with relative path it is easy to transfer data from machine to machine. So the package behavior is different from yolov5. maybe we can fall back to ROOT directory if IT DID MISS something which sounds better by my opnion.

[2022-09-20 17:56] fireinice commented on #150
the codes seem related to this PR https://github.com/ultralytics/yolov5/pull/6489

[2022-09-20 20:18] fcakyon commented on #150
Yes you are rights, this update is not necessary for this repo.

I created a PR reverting this update: https://github.com/fcakyon/yolov5-pip/pull/151

[2022-09-21 20:44] #150 closed

[2022-09-23 18:34] GiovanniNova opened #152 ""TypeError: random_perspective() got an unexpected keyword argument 'return_seg'" when using custom hyp file in segmentation training"
` File "/usr/local/lib/python3.7/dist-packages/yolov5/utils/segment/dataloaders.py", line 152, in __getitem__
    return_seg=True,
TypeError: random_perspective() got an unexpected keyword argument 'return_seg'`

[2022-09-24 09:27] fcakyon commented on #152
@GiovanniNova can you be more specific? What was your command?

[2022-09-24 14:03] GiovanniNova commented on #152
This doesnt work and throws the error mentioned:
`yolov5 segment train --img 640 --batch 16 --epochs 300 --data table_detect.yaml --hyp hyp.table_detect.yaml --weights yolov5s-seg.pt`

But removing the --hyp parameters works just fine
`yolov5 segment train --img 640 --batch 16 --epochs 300 --data table_detect.yaml  --weights yolov5s-seg.pt`

A workaround is adding 'return_seg=False' to random_pers

[2022-09-24 14:09] fcakyon commented on #152
There is no return_seg argument in the original repo, why should we add it? https://github.com/ultralytics/yolov5/blob/c8e52304cf5c34653570c5c3953ba061bc33c1af/utils/segment/augmentations.py#L25

Am I missing something?

[2022-09-24 14:12] fcakyon commented on #152
@GiovanniNova this PR fixes this bug: https://github.com/fcakyon/yolov5-pip/pull/153

[2022-09-24 17:36] #152 closed

[2022-09-24 18:41] 2MinuteWarning opened #154 "Suggestion: add classify( ) method"
First off, I *love* this package and use it a lot.  Thank you so much for it.

Now that Yolov5 has added classification support it would be great if there was a classify( ) inference method callable from Python in the same way there is for object detection.

Is this planned for the future?

[2022-09-27 07:33] fcakyon commented on #154
@2MinuteWarning i am currently very busy with my PhD but yes this is a planned feature with no ETA 👍